<% articles.forEach(function(article) { %>
<div class="row">
  <div class="col-xs-12">
    <p>
      <a href="/articles/<%= article.id %>">
        <h4><%= article.title %></h4>
      </a>
    </p>
    <p><%= article.content %></p>
    <a href="/articles/<%= article.id %>/edit" class="edit-link btn btn-xs btn-warning">
      edit
    </a>
    <a href="/articles/<%= article.id %>" class="delete-link btn btn-xs btn-danger">
      delete
    </a>
  </div>
</div>
<hr>
<% }); %>
