<h1>ALL ARTICLES</h1>

<% articles.forEach(function(article, id) { %>
  <div class="article-box col-xs-12">
    <h2>
      <a href="/articles/<%= article.id %>"><%= article.title %></a>
    </h2>
    <h4>By <%= article.author %></h4>
    <p><%= article.body %></p>
    <div>
      <button class="delete-action btn btn-danger">Delete <i-glyphicon class="edit-action glyphicon glyphicon-trash" /></button>
      <button class="btn btn-default" onclick="window.location.href='/articles/<%= id %>/edit'">Edit <i-glyphicon class="glyphicon glyphicon-pencil"></i></button>
    </div>
    <hr>
  </div>
<% }); %>
